.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	right:40px;
	background-color:rgb(0, 105, 204);
	color: #fff;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

.my-float{
	margin-top:5px;
}

.float:hover{
    color: #fff;
}
